@tailwind base;
@tailwind components;
@tailwind utilities;

.GasPrice {
  background-color: blanchedalmond;
}

.BaseFee {
  background-color: blanchedalmond;
}

.PriorityFee {
  background-color: blanchedalmond;
}

.LatestTransactions {
  background-color: bisque;
}

.LatestBlocks {
  background-color: beige;
}

